---
import { getRelativeLocaleUrl } from "astro:i18n";
import { getLanguageItems } from "src/resources/header";

const preparedPathName = Astro.url.pathname.replace(/\/en|\/es|\/ru/g, "");
const languageItems = getLanguageItems();
---

<div
  class="changeLang"
  aria-label="language | lengua | язык"
  title="language | lengua | язык"
  role="group"
>
  {
    Object.values(languageItems)
      .map(({ image, title, short, lang }) => (
        <a
          href={getRelativeLocaleUrl(lang, preparedPathName)}
          title={title}
          aria-label={title}
        >
          <span>{short}</span>
          <img width={25} height={17} src={image.src} alt={`lang-${lang}`} />
        </a>
      ))
  }
</div>

<style lang="scss">
  .changeLang {
    display: flex;
    gap: 0.5rem;
    justify-content: flex-start;
    zoom: 0.8;

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: all 0.1s;
      opacity: 0.88;

      @media only screen and (max-width: 767px) {
        zoom: 0.8;
      }

      span {
        opacity: 0;
        position: absolute;
        text-decoration: none;
        z-index: 2;
        font-weight: 500;
        color: rgb(0, 0, 0);
        margin-top: -1.8rem;
        transition: all 0.2s ease;
      }
      img {
        opacity: 0.8;
      }

      &:hover {
        opacity: 1;
      }
    }
  }
</style>
