---
import { db, Text, eq } from 'astro:db';

interface Props {
  name: string;
  content: string;
  contentEs?: string | null;
  contentRu?: string | null;
}

let errorMs;
let { name, content, contentEs, contentRu } = Astro.props;

if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const content = String(data.get("content"));
    const contentRu = String(data.get("contentRu")) || null;
    const contentEs = String(data.get("contentEs")) || null;

    if (content) {
      await db.update(Text)
        .set({content, contentRu, contentEs})
        .where(eq(Text.name, name))
    }

  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
      errorMs = error.message;
    }
  }
}
---

<form method="POST">
  <h3 class="name">{name}</h3>

  <div class="texts">
    <label>
      en
      <textarea name="content">{content}</textarea>
    </label>
    <label>
      ru
      <textarea name="contentRu">{contentEs}</textarea>
    </label>
    <label>
      es
      <textarea name="contentEs">{contentRu}</textarea>
    </label>
  </div>

  <button type="submit"> change </button>

  {errorMs && <div class="err">{errorMs}</div>}
</form>

<style lang="scss">
  form {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    border-bottom: 1px solid black;

    textarea {
      min-height: 150px;
      min-width: 250px;
      resize: none;
    }

    label {
      display: flex;
      flex-direction: column;
    }

    .texts {
      display: flex;
      gap: 1rem;
    }

    button {
      max-width: 300px;
      cursor: pointer;
    }
  }
  .err {
    color: red;
  }
</style>
