---
import { getRelativeLocaleUrl } from "astro:i18n";
import { getHeaderItems } from "src/resources/header";
import type { Lang } from "src/types";
import ChangeLang from "../shared/ChangeLang/ChangeLang.astro";

const locale = (Astro.currentLocale || "en") as Lang;
const headerItems = getHeaderItems();
---

<footer>
  <div class="footerItems">
    {
      Object.values(headerItems).map(({ translations, href }) => (
        <a
          title={translations[locale]}
          aria-label={translations[locale]}
          href={`/${locale}${href}`}
          tabindex="0"
        >
          {translations[locale]}
        </a>
      ))
    }
  </div>

  <div class="changeLang">
    <ChangeLang />
  </div>
</footer>

<style lang="scss">
  footer {
    width: 100%;
    min-height: 300px;
    background-color: var(--footer-bg);
    box-shadow: 1px -4px 12px 2px rgba(0, 0, 0, 0.11);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .footerItems {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }

  a {
    text-decoration: none;
    color: var(--font-light);
    cursor: pointer;
    font-size: 1.2rem;
    &:hover {
      opacity: 1;
      color: var(--accent);
    }
    transition: all 0.1s ease;
  }
</style>
