---
import { Image } from "astro:assets";
import { getRelativeLocaleUrl } from "astro:i18n";
import en from "./assets/uk.svg";
import ru from "./assets/ru.svg";
import es from "./assets/es.svg";

interface Props {
  currLang: string;
}

const currLang = String(Astro.props.currLang || "en") as "en" | "es" | "ru";

const translations = {
  home: {
    en: "Home",
    es: "Inicio",
    ru: "Главная",
  },
  contacts: {
    en: "Contacts",
    es: "Contactos",
    ru: "Контакты",
  },
  about: {
    en: "About",
    es: "Nosotros",
    ru: "О нас",
  },
};

const preparedPathName = Astro.url.pathname.replace(/\/en|\/es|\/ru/g, "");
---

<nav>
  <div class="first">
    <a
      title={translations.home[currLang]}
      aria-label={translations.home[currLang]}
      href={getRelativeLocaleUrl(currLang, "/")}
    >
      {translations.home[currLang]}
    </a>
    <a
      title={translations.contacts[currLang]}
      aria-label={translations.contacts[currLang]}
      href={getRelativeLocaleUrl(currLang, "/contacts")}
    >
      {translations.contacts[currLang]}
    </a>
    <a
      title={translations.about[currLang]}
      aria-label={translations.about[currLang]}
      href={getRelativeLocaleUrl(currLang, "/about")}
    >
      {translations.about[currLang]}
    </a>
  </div>

  <div class="changeLang">
    <a
      href={getRelativeLocaleUrl("en", preparedPathName)}
      title="English"
      aria-label="English"
    >
      <Image width={25} height={17} src={en} alt="lang-en english" />
    </a>
    <a
      href={getRelativeLocaleUrl("ru", preparedPathName)}
      title="Русский"
      aria-label="Русский"
    >
      <Image width={25} height={17} src={ru} alt="lang-ru русский" />
    </a>
    <a
      href={getRelativeLocaleUrl("es", preparedPathName)}
      title="Español"
      aria-label="Español"
    >
      <Image width={25} height={17} src={es} alt="lang-es español" />
    </a>
  </div>
</nav>

<style lang="scss">
  nav {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    background-color: var(--header-bg);
  }

  .first {
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
  }

  a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }

  .changeLang {
    display: flex;
    gap: 1rem;
    justify-content: flex-start;

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: all 0.1s;

      @media only screen and (max-width: 767px) {
        zoom: 0.8;
      }
      &:hover {
        opacity: 0.7;
      }
    }
  }
</style>
