---
import ChangeLang from "src/components/shared/ChangeLang/ChangeLang.astro";
import { getHeaderItems } from "src/resources/header";
import type { Lang } from "src/types";

const currLang = (Astro.currentLocale || "en") as Lang;
const headerItems = getHeaderItems();
---

<nav id="header">
  <div class="headerItems">
    {
      Object.values(headerItems).map(({ translations, href }) => (
        <a
          title={translations[currLang]}
          aria-label={translations[currLang]}
          href={`/${currLang}${href}`}
          tabindex="0"
          data-astro-prefetch
        >
          {translations[currLang]}
        </a>
      ))
    }
  </div>

  <ChangeLang />
</nav>

<style lang="scss">
  nav {
    padding: 1.3rem;
    display: flex;
    justify-content: space-between;
    background-color: var(--primary);
    box-shadow: 1px 7px 12px 2px rgba(0, 0, 0, 0.03);
    position: fixed;
    width: 100%;
    z-index: 10;
  }

  .headerItems {
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
  }

  a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--font-color);
    cursor: pointer;
    font-size: 1.05rem;
    &:hover { 
      opacity: 1;
      color: var(--accent3);
    }
    transition: all 0.1s ease;
  }
</style>
